.slider-nav {
    display: flex;
    justify-content: flex-end;

    position: absolute;
    z-index: 10;
    bottom: 0;
    right: 0;

    @include desktop-up {
        right: -10rem;
    }

    &__arrow {
        width: 3.4375rem;
        height: 3.4375rem;

        border-style: none;
        background-color: $black;
        padding: 1rem;

        display: inline-flex;
        justify-content: center;
        align-items: center;

        @include desktop-up {
            width: 5rem;
            height: 5rem;
        }
    }
}

.slider-content__button {
    text-transform: uppercase;
    text-decoration: none;
    color: $very-dark-gray;
    font-weight: 600;
    letter-spacing: 8px;
}