header {
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    padding: 2.28125rem 1.5rem;

    // position: absolute;
    // top: 0;
    // width: 100%;

    &__logo {
        justify-self: center;
    }

    &-menu {
        display: none;
    }
}