.navbar {
    &-menu {
        padding-left: 0;
        list-style-type: none;

        &__link {
            text-decoration: none;
            text-transform: lowercase;
            color: $black;
            font-size: 13px;
            font-weight: 700;
            @include desktop-up {
                color: $white;
                font-weight: 600;
            }
        }
    }
}